<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <a href="/flights/new">New Flight</a>
    <a href="/flights">All Flight</a>
    <section>
        <div>Airline:</div>
        <div><%=flight.airline%></div>
        <div>Airport:</div>
        <div><%=flight.airport%></div>
        <div>Flight number:</div>
        <div><%=flight.flightNo%></div>
        <div>Departs:</div>
        <div><%=flight.departs%></div>
    </section>

<br><br>
<h2>Destinations</h2>
<form method="POST" action="/flights/<%=flight._id%>/destinations">
<label>Airport:</label>
<select name="airport">
  <option value="AUS">AUS</option>
  <option value="DFW">AFW</option>
  <option value="DEN">DEN</option>
  <option value="LAX">LAX</option>
  <option value="SAN">SAN</option>
</select>
<label for="arrival">Arrival:
  <input type="datetime-local" name="arrival">
</label>
<input type="submit" value="Add Destination">
</form>

<br><br>
<table>
 <thead>Destination</thead>
 <tbody>

 <%flight.destinations.forEach(function(destination){%>
  <tr>
    <td><%= destination.createdAt.toLocaleDateString() %></td>
  <td><%=destination.arrival%></td>
  <td><%=destination.airport%></td>
 </tr>
 <%})%>
</tbody>
</table>
</body>
</html>